@model CNPMNC_TH_LAB5.Models.Staff

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Staff</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StaffName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StaffName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StaffMail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StaffMail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department1.DepartmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department1.DepartmentName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StaffId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
